body {
    font-family: Arial, sans-serif;
    padding: 20px;
}


/* Tables */
table {
    display: block;
    max-width: fit-content;
    margin: 0 auto;
    white-space: wrap;
}

td, th {
    padding: 15px 20px;
    text-align: left;
}

th {
    background-color: #e9e9e9;
}

tr:hover {
    background-color: #f9f9f9;
}

table.rounded-corners {
    /* Change these properties */
    --border: 0px solid black;
    border-radius: 5px;

    /* Don't change these properties */
    border-spacing: 0;
    border-collapse: separate;
    border: var(--border);
    overflow: hidden;
}

/* Apply a border to the right of all but the last column */
table.rounded-corners th:not(:last-child),
table.rounded-corners td:not(:last-child) {
    border-right: var(--border);
}

/* Apply a border to the bottom of all but the last row */
table.rounded-corners > thead > tr:not(:last-child) > th,
table.rounded-corners > thead > tr:not(:last-child) > td,
table.rounded-corners > tbody > tr:not(:last-child) > th,
table.rounded-corners > tbody > tr:not(:last-child) > td,
table.rounded-corners > tfoot > tr:not(:last-child) > th,
table.rounded-corners > tfoot > tr:not(:last-child) > td,
table.rounded-corners > tr:not(:last-child) > td,
table.rounded-corners > tr:not(:last-child) > th,
table.rounded-corners > thead:not(:last-child),
table.rounded-corners > tbody:not(:last-child),
table.rounded-corners > tfoot:not(:last-child) {
    border-bottom: var(--border);
}

.book-selector:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* Form elements */
.button-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

button {
    cursor: pointer;
    border-radius: 3px;
    border: 0 solid black;
    background-color: #e9e9e9;
    padding: 5px 10px;
}

button:hover {
    background-color: #ddd;
}

.add {
    background-color: lightsteelblue;
    color: darkblue;
}

.add:hover {
    background-color: #ddd;
    color: black;
}

.delete {
    background-color: lightpink;
    color: darkred;
}

.delete:hover {
    background-color: pink;
    color: darkred;
}

input {
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid lightgrey;
}

select {
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid lightgrey;
}

.wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
}


/* Flashes */
.flashes {
    border-radius: 3px;
}

.error {
    background-color: lightcoral;
    color: darkred;
    padding: 10px;
    border-radius: 5px;
}

.success {
    background-color: lightgreen;
    color: darkgreen;
    padding: 10px;
    border-radius: 5px;
}

.warning {
    background-color: lightgoldenrodyellow;
    color: darkgoldenrod;
    padding: 10px;
    border-radius: 5px;
}


/* Navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    padding: 10px;
    border-radius: 5px;
}


/* Grid container */
.grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 5px;
}

.grid-item {
    padding: 20px;
    text-align: left;
}


/* Languages */
.language-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.language-item {
    font-size: 14px;
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 3px;
}


