<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Add Book</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>

<h1>Add Book</h1>
<form action="/add_book" method="POST">
    <label for="isbn">ISBN Number:</label>
    <input id="isbn" name="isbn" required type="text"><br><br>
    <label for="title">Book Title:</label>
    <input id="title" name="title" required type="text"><br><br>
    <label for="publication_year">Publication Year:</label>
    <input id="publication_year" name="publication_year" required type="number"><br><br>
    <label for="author_id">Authors:</label>
    <select id="author_id" name="author_id" required>
        {% for author in authors %}
        <option value="{{ author.id }}">{{ author.name }}</option>
        {% endfor %}}
    </select><br><br>
    <button class="add" type="submit">Add Book</button>
</form>

</body>
</html>
