<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ book.title }}</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>

<button onclick="window.location.href='/';">Back to Home</button>

<div class="grid-container">
    <div class="grid-item">
        <img alt="{{ book.Book.title }} Cover" src="https://covers.openlibrary.org/b/isbn/{{ book.Book.isbn }}-L.jpg"
             width="200px">
    </div>
    <div class="grid-item">
        <h1>{{ book.Book.title }}</h1>
        <p><b>ISBN:</b> {{ book.Book.isbn }}</p>
        <p><b>Publication Year:</b> {{ book.Book.publication_year }}</p>
        <p><b>Authors:</b> {{ book.Author.name }}</p>
        <p><b>Languages:</b></p>
        <div class="language-container">
            {% for language in details['docs'][0]['language'] %}
            <div class="language-item"> {{ language }}</div>
            {% endfor %}
        </div>
        <p><b>Editions:</b> {{ details['docs'][0]['edition_count'] }}</p>

    </div>
</div>

</body>
</html>