<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Books</title>
</head>
<body>

<h1>Books</h1>
<table>
    <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Publication Year</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book.isbn }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.publication_year }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>